{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="update-job-body">
<div class="update-job-main">
        <section class="update-job-sub-main">
            <div class="update-job">
                <div class="update-job-banner">
                    <div class="update-job-card">
                        {% if job %}
                        <form action="{% url 'updateJobAttempt' primary_key=job.id %}" method="POST" class="update-job-form update-job-form-main" id="update-job-form">
                            {% csrf_token %}
                            <h1 class="update-job-form-heading">
                                Post a Job
                            </h1>
                            <div class="update-job-form-input-field">
                                <input type="text" name="title" placeholder="Job Title" value="{{ job.title }}" required>
                            </div>
                            <div class="update-job-form-input-field">
                                <textarea name="description" id="" cols="60" rows="10" placeholder="Description">{{ job.description }}</textarea>
                            </div>
                            <div class="update-job-form-input-field">
                                <textarea name="responsibilities" id="" cols="60" rows="10" placeholder="Responsibilities">{{ job.responsibilities }}</textarea>
                            </div>
                            <div class="update-job-form-input-field">
                                <textarea name="qualification" id="" cols="60" rows="10" placeholder="Qualifications">{{ job.qualification }}</textarea>
                            </div>
                            <div class="update-job-form-input-field">
                                <input type="text" name="salary" placeholder="Salary(in LPA)" value="{{ job.salary }}" required>
                            </div>
                            <div class="update-job-form-input-field">
                                <input type="text" name="vacancy" placeholder="Vacancy" value="{{ job.vacancy }}" required>
                            </div>
                            <div class="update-job-form-input-field">
                                <input type="text" name="location" placeholder="Location" value="{{ job.location }}" required>
                            </div>
                            <div class="update-job-form-input-field">
                                <input type="text" name="experience" placeholder="Work Experience" value="{{ job.experience }}" required>
                            </div>
                            <select name="type" class="update-job-form-job-type">
                                <option value="" disabled>Select Job Type</option>
                                <option value="full-time" {% if job.type == "full-time" %}selected{% endif %}>Full
                                    Time
                                </option>
                                <option value="part-time" {% if job.type == "part-time" %}selected{% endif %}>Part
                                    Time
                                </option>
                                <option value="seasonal" {% if job.type == "seasonal" %}selected{% endif %}>Seasonal
                                </option>
                                <option value="contract" {% if job.type == "contract" %}selected{% endif %}>Contract
                                </option>
                                <option value="internship" {% if job.type == "internship" %}selected{% endif %}>
                                    Internship
                                </option>
                            </select>

                            <div class="update-job-form-input-field">
                                <label class="update-job-form-label" for="deadline"> Deadline for applying: </label>
                                <input type="date" name="deadline" value="{{ job.deadline }}" required>
                            </div>
                            <input type="submit" value="Update" class="update-job-form-button" id="update-job-submit">
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
